//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 02 19:51:13 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_DATA<8>" LOCATE = SITE "R15" LEVEL 1;
COMP "LCD_DATA<9>" LOCATE = SITE "R16" LEVEL 1;
COMP "LCD_DATA<10>" LOCATE = SITE "P17" LEVEL 1;
COMP "LCD_DATA<11>" LOCATE = SITE "M15" LEVEL 1;
COMP "MCLK" LOCATE = SITE "C9" LEVEL 1;
COMP "SW_2" LOCATE = SITE "L14" LEVEL 1;
COMP "SW_3" LOCATE = SITE "N17" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M18" LEVEL 1;
COMP "INP_0" LOCATE = SITE "H13" LEVEL 1;
COMP "INP_1" LOCATE = SITE "D18" LEVEL 1;
COMP "INP_2" LOCATE = SITE "V4" LEVEL 1;
COMP "INP_3" LOCATE = SITE "K17" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "L17" LEVEL 1;
COMP "Out_Thing<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "Out_Thing<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "Out_Thing<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "Out_Thing<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "Out_Thing<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "Out_Thing<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "Out_Thing<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "Out_Thing<7>" LOCATE = SITE "F9" LEVEL 1;
NET "MCLK_BUFGP/IBUFG" BEL "MCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

